:root {
  --header-height: 64px;
  --sidebar-width: 110px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: #111827;
  height: 100%;
  overflow: hidden;
}

.app-content {
  padding: 35px;
  /* background: #f8f9fb; */
  background: #f7f7f9;
  overflow-y: auto;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
}

@media (max-width: 768px) {
  .app-body {
    flex-direction: column;
  }
}