/* .container {
  padding: 40px;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 40px;
} */